.loginMain{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginInner{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 70%;
}
.textfieldlogin,.textfieldlogin>Button{
    margin-bottom: 30px;
    width: 100%;
}

@media (max-width: 576px) {
    .loginMain {
        width: 300px;
        padding: 20px;
        border-radius: 8px;
        
    }
    .loginInner{
        width: 100%;
    }
    .textfieldlogin Button {
        width: 100% !important;
    }
}