.signupMain{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signupInner{
    display: flex;
    flex-direction: column;
   
    width: 45%;
    height: 70%;
}
.textfieldsignup,.textfieldsignup>Button{
    margin-bottom: 30px;
    width: 100%;
}
@media (max-width: 576px) {
    .signupMain {
        width: 300px;
        padding: 20px;
        border-radius: 8px;
        
    }
    .signupInner{
        width: 100%;
    }
    .textfieldsignup Button {
        width: 100% !important;
    }
}